<div class="bg-info p-2">
  <ul class="nav nav-pills nav-fill">
    <style>
      .nav-link{ color: black; }
    </style>
    <li class="nav-item">
      <b>
        <a class="nav-link" href="/">Trang chủ</a>
      </b>
    </li>
    <li class="nav-item">
      <b>
        <a class="nav-link" href="/cats/create">Thêm mới</a>
      </b>
    </li>
    <li class="nav-item">
      <b>
        <a class="nav-link" href="/me/stored/cats">Danh sách của tôi</a>
      </b>
    </li>
  </ul>
</div>